:root {
    --bg-header: #121312;
    --text-color: #fff;
    --text-logo: aqua;
    --text-logo-span: rgba(179, 129, 22, 0.885);
    --btn-color: rgb(0, 255, 221);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--bg-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

#logo-pagina {
    color: var(--text-logo);
    font-size: 2.0rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#logo-pagina span {
    color: var(--text-logo-span);
    font-size: 1.7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

#logo-pagina:hover {
    letter-spacing: 10px;
    animation: acender 0.5s forwards;
    cursor: default;
}

@keyframes acender {
    to {
        color: var(--text-color);
        text-shadow: 0 0 10px rgba(179, 129, 22, 0.885), 0 0 20px rgb(0, 255, 221);
    }
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

nav ul li a:hover {
    color: var(--btn-color);
    text-transform: uppercase;
}

#menu-hamburguer {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

#menu-hamburguer span {
    width: 100%;
    height: 3px;
    background-color: var(--btn-color);
    border-radius: pointer;
}

@media (max-width: 768px) {
    #menu-hamburguer {
        display: flex;
    }

    nav {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--bg-header);
        flex-direction: column;
        padding: 20px 0;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }
}